media/
tmp/
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

private/

# First Star website build output
node_modules/
.astro/
stars/first-star/dist/
stars/first-star/preview-dist/
